.side-drawer{
    background-color: #E2E2E5;
    height: 100%;
}

.side-menu{
    margin-top: 100px;
}

.search-bar{
    text-align: center;
}

.head-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.header-boro > span{
    margin: 5px;
}
.header-boro > span:nth-child(1){
    padding: 10px;
    background-color: #F6F6FB;
    border-radius: 6px;
}

.header-user > span{
    margin: 5px;
}

.header-boro span:nth-child(2) {
   font-weight: bold;
   font-size: 20px;
  }

  .header-user span:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
   }
 

.header-boro span:nth-child(3) {
  background-color: #F6F6FB;
  border-radius: 6px;
  padding: 4px;
}

.header-user span:nth-child(3) {
  background-color: #F6F6FB;
  border-radius: 6px;
  padding: 4px;
}

.head-wrapper > ul {
    list-style-type: none;
    display: flex;
}

.head-wrapper > ul >li {
   margin: 5px;
   background: #F6F6FB;
opacity: 0.9;
border-radius: 32px;
padding: 15px;
font-size: 12px;
font-weight: bold;
}

.head-wrapper ul li:nth-child(1){
    background: #7166F9;
    color: white;
}
.bi.bi-question-circle-fill {
    color: blue;
  }

  .bi.bi-plus-circle-fill {
    color: blue;
  }


  .section-data{
    margin: 10px;
  }
  
  .visul-data{
    background-color: #EFEFF8;
    padding: 25px;
    border-radius: 40px;
  }

  .first-div{
    background-color: rgba(178, 178, 179);
    padding: 5px;
    border-radius: 10px;
  }
.first-div>span{
    color: #EFEFF8;
    margin: 35px;
}

 .round {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 12px solid transparent;
    background-size: 100% 100%, 100% 50%, 100% 100%, 100% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(white, white),
      linear-gradient(360deg, #E17CFD 100%, lightgrey 100%),
      linear-gradient(360deg, #4CD7F6 100%, lightgrey 100%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(90deg);
  }
  
  .text {
    text-align: center;
    font-size: 30px;
  }
  
  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .direct .dot {
    width: 18px;
height: 12px;
left: 378px;
top: 805px;
background: #4CD7F6;
border-radius: 2px;
  }
  
  .search .dot {
    width: 18px;
    height: 12px;
    left: 378px;
    top: 838px;
    background: #E17CFD;
    border-radius: 2px;
  }

  .bi.bi-caret-up-fill{
    color: green;
  }

  .card-one{
    background: linear-gradient(to bottom right, #E17CFD, #4CD7F6);
    padding: 10px;
  }
  
  .bi.bi-question-circle-fill{
    color: white;
    font-size: 25px;
  }



  .cardone-digit span{
    font-size: 24px;
    color: white;
  }

  .cardone-digit p{
    color:#F6F6FB;
  }

  .cardtwo-digit span{
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

.bi.bi-calendar4-week{
color: #7166F9;
font-size: 30px;
}
.bi.bi-person-fill{
    color: #7166F9;
    font-size: 35px;
}

.hours{
    color: #7166F9;
}

.SearchIcon{
    color: #fff;
    /* background: radial-gradient(circle at top,  #E17CFD , #4CD7F6); */
    background: linear-gradient(180deg, #4CD7F6   0%, #c13de6 100%);
    /* background: linear-gradient(45deg, #E17CFD 0%,  #4CD7F6   100%);  */
    padding: 8px;
    border-radius: 50%;
}

